DATACORE_DRIVER=ODBC Driver 18 for SQL Server
DATACORE_SERVER=
DATACORE_DATABASE=
DATACORE_UID=
DATACORE_PASSWORD=
DATACORE_ENCRYPT=yes
DATACORE_TRUST_SERVER_CERTIFICATE=yes
DATACORE_CONNECTION_TIMEOUT=30

CORE_SNOWFLAKE_USER=
CORE_SNOWFLAKE_PASSWORD=
CORE_SNOWFLAKE_ACCOUNT=
CORE_SNOWFLAKE_WAREHOUSE=STANDARD_WH
CORE_SNOWFLAKE_DATABASE=REAPIT_RAW
CORE_SNOWFLAKE_SCHEMA=AURORA_ROM_RPS_ROM
CORE_SNOWFLAKE_LOGIN_TIMEOUT=30
CORE_SNOWFLAKE_NETWORK_TIMEOUT=60

SA_SNOWFLAKE_USER=
SA_SNOWFLAKE_PASSWORD=
SA_SNOWFLAKE_ACCOUNT=
SA_SNOWFLAKE_WAREHOUSE=STANDARD_WH
SA_SNOWFLAKE_DATABASE=REAPIT_RAW
SA_SNOWFLAKE_SCHEMA=AURORA_TWN_RPS_TWN
SA_SNOWFLAKE_LOGIN_TIMEOUT=30
SA_SNOWFLAKE_NETWORK_TIMEOUT=60
